.pokebag {
    margin-bottom: 50px;
}

.table-row {
    padding-bottom: 25px;
    .table-head {
        padding-right: 50px;
    }

    .table-cell { 
        padding: 10px 0px;
        p {
            margin: 0;
        }
    }
}

